<ion-tabs>
	<ion-tab-bar slot="top">
		<ion-tab-button routerLink="charts/daily-expense" routerLinkActive="tab-selected">
			<ion-icon aria-hidden="true" name="today-outline"></ion-icon>
			<ion-label>Daily</ion-label>
		</ion-tab-button>

		<ion-tab-button routerLink="charts/weekly-expense" routerLinkActive="tab-selected">
			<ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
			<ion-label>Weekly</ion-label>
		</ion-tab-button>

		<ion-tab-button routerLink="charts/monthly-expense" routerLinkActive="tab-selected">
			<ion-icon aria-hidden="true" name="calendar-number-outline"></ion-icon>
			<ion-label>Monthly</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>
