<ion-content [fullscreen]="true">
	<ion-grid>
		<ion-row>
			<ion-col size="12">
				<ion-text color="primary">
					<h1>Expenses</h1>
				</ion-text>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-select [(ngModel)]="category" (ngModelChange)="filter()" label="Select expense category" label-placement="floating">
					<ion-select-option value="all" >All</ion-select-option>
					<ion-select-option [value]="data.id" *ngFor="let data of expenseCategories|async">{{data.name}}</ion-select-option>
				</ion-select>
			</ion-col>
		</ion-row>
		<ion-row class="col-header ion-justify-content-center">
			<ion-col size="6" ><ion-text color="primary">Desc</ion-text></ion-col>
			<ion-col size="3" ><ion-text color="primary">Amount</ion-text></ion-col>
			<ion-col size="3" ><ion-text color="primary">Date</ion-text></ion-col>
		  </ion-row>
		  <ion-row  class="ion-justify-content-center" *ngFor="let data of source|async">
			<ion-col size="6" >{{data.description}}</ion-col>
			<ion-col size="3" >{{data.amount| currency:'PHP':true:'1.2-2'}}</ion-col>
			<ion-col size="3" >{{data.date|date:'MM-dd-yyyy'}}</ion-col>
		  </ion-row>
	</ion-grid>
</ion-content>
